<% for genre, primary_stories in @genre_stories %>
<li>
    <div class="genre">
      <div class="board-heading">
        <%= render 'shared/board_nav_bar', genre: genre %>
      </div>
      <ul id="<%=genre.name%>" class="stories">
        <%= render 'genre_stories', genre: genre, primary_stories: primary_stories %>
      </ul>
      <%= render 'genre_link_to_more', genre: genre, primary_stories: primary_stories %>

   
    </div>
</li>
<% end %>

