<% Genre.all.each do |genre| %>
  <% if genre.primary_stories.any? %>
  <div id="genre">
    <div id="<%= genre.id %>" class="board-heading"><%= genre.name %></div>
    <ul class="stories">
      <% genre.primary_stories.each do |story| %>
        <li id="<%=story.id%>-genre"><%= render 'story_thumb', story: story %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
<% end %>