<div class="board-heading">
  <%= render 'shared/board_nav_bar', title: "New and popular stories" %>
</div>
<ul class="new-stories">
  <%= render 'new_stories' %>
</ul>

 <div class="browse-more-stories">
  <%= link_to(root_path(new_stories_page: (params[:new_stories_page].to_i || 1)+1,
                                      params: {param_name: "new_stories_page"},
                                      per_page: params[:per_page] || 8),
                                      class: "hook2 btn btn-primary", remote: true) do %>
                                      <i class="icon-circle-arrow-down icon-white"></i> More...
                                    <% end %>
  </div>