<div id="home-page" class="row">

  <div id="home-left">
  <div id="user-info"><%= render 'shared/floating_user_info' %></div>
  </div>
  
  <div id="home-center">
    <p>Community points are earned as you read, write, rate, and comment on Storyboard</p>
  </div>

  
</div>