<div id="home-page" class="row">

  <div id="home-left">
  <div id="user-info"><%= render 'shared/floating_user_info' %></div>
  </div>
  
  <div id="home-center">
    <p>Community points are earned whenever someone reads a story you published and every time you rate a story</p>
  </div>

  
</div>