<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <p>
      <%= link_to "Publish a story", write_path %>
    </p>
    <section>
      <% unless @user.stories.nil? %>
      <h4>Published stories:</h4>
      <ol class="stories">
        <% @user.stories.each do |s| %>
        <li><%= link_to s.title, s %></li>
        <% end %>
      </ol>
    <% end %>
    </section>
  </aside>
  
  
</div>