<div id="home-page" class="row">

  <div id="home-left">
    <div id="user-info"><%= render 'shared/floating_user_info' %></div>
  </div>
    
  <div id="genre-center">
    <div id="genre-show">
      <div class="board-heading">
        <%= render 'purchase_nav_bar' %>
      </div>
      <ul class="thumbnails purchase">
        <%= render 'purchase' %>
      </ul>
    </div>
  </div>
    
</div>