<% @user.boards.find(:all, group: :name).each do |board| %>
<hr class="storyboard-seperator">

<div class="row">
  <div class="span2 offset4">
    <div class="storyboard-container">
      <div class="span8"><section><%= board.name %></section></div>
      <div class="span8">
      <ul class="stories">
        <% @user.boards.each do |b| %>
          <% if b.name == board.name %>
           <li><%= link_to b.library_story.title, b.library_story %></li>
         <% end %>
        <% end %>
      </ul>
      </div>
    </div>
  </div>
</div>
<% end %>