<div id="user-name"><%= simple_format(@user.name) %></div>
<div id="user-pic"><%= link_to gravatar_for(@user, size: 80), user_path(@user) %></div>
<div id="user-stats"><%= render 'shared/stats' %></div>