<% @user ||= current_user %>
<div class="stats">
    <a href="<%= publishers_user_path(@user) %>">
      <strong id="publishers" class="stat">
        <%= @user.publishers.count %>
      </strong>
      pubs
    </a>
    <a href="<%= readers_user_path(@user) %>">
      <strong id="readers" class="stat">
        <%= @user.readers.count %>
      </strong>
      readers
    </a>
</div>