<% provide(:title, 'Publish') %>
<% @user ||= current_user %>

<div class="row">
  <aside class="span3"><%= render 'shared/floating_user_info' %></aside>
  <div class="span6">
    <h1>Publish story</h1>
  </div>

  <div class="span6">
    <%= form_for(@story) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Publish story", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>