@import "bootstrap";

/* mixins, variables, etc. */

$grayMedium: #707070;
$grayMediumLight: #eaeaea;

$redDeep: #7f011c;
$redShadow: #820a26;
$redDarkShadow: #680117;

$purpleDarkDark: #291737;
$purpleMatteLight: #4A315E;
$purpleMedium: #880654;

$indigoBright: #6B32A4;
$indigoMedium: #422A5B;
$indigoDark: #3D2357;
$indigoDarkDark: #2E1B41;

$purpleLight: #8266b6;
$purpleDark: #533787;

$purplePalette1: #442F61;
$purplePalette2: #3F2F55;
$purplePalette3: #321D50;
$purplePalette4: #654B88;
$purplePalette5: #695288;


$maroonPalette1: #39141B;
$maroonPalette2: #4F1C26;
$maroonPalette3: #62222F;
$maroonPalette4: #842E40;
$maroonPalette5: #7A152B;




/* universal */

@mixin box_sizing {
  -moz-boz-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
  background: url('paper_fibers.png');
}
@media (max-width: 620px) {
  body {
    padding-top: 100px;
  }
}
@media (max-width: 460px) {
  body {
    padding-top: 140px;
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* User interface */

.btn-primary {
  background-color: $purpleMatteLight !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#695288", endColorstr="#442F61");
  background-image: -khtml-gradient(linear, left top, left bottom, from($purplePalette5), to($purplePalette1));
  background-image: -moz-linear-gradient(top, $purplePalette5, $purplePalette1);
  background-image: -ms-linear-gradient(top, $purplePalette5, $purplePalette1);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $purplePalette5), color-stop(100%, $purplePalette1));
  background-image: -webkit-linear-gradient(top, $purplePalette5, $purplePalette1);
  background-image: -o-linear-gradient(top, $purplePalette5, $purplePalette1);
  background-image: linear-gradient($purplePalette5, $purplePalette1);
  border-color: $purplePalette3 $purplePalette3 hsl(265, 46%, 25%);
  color: white !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26);
  -webkit-font-smoothing: antialiased;
}

a {
  color: $purplePalette4;
  &:hover {
    color: $indigoBright;
  }
  
}


/* header */


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $purpleMatteLight;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: $indigoBright;
    text-decoration: none;
  }
}

.nav-search {
  margin-top: 0px;
  margin-bottom: 0px;
  .form-inline {
    margin: 5px 0px 5px 0px;
    .btn {
      margin: 0px 0px 0px 0px; 
    }
  }
  .form-search {
    margin: 5px 0px 5px 0px;
  }

}

.nav { 
  li.header-points {
    a {
      display: inline-block;
    }
    display: inline-block;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
    section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.stats {
  margin: 5px 0px 0px 0px;
  overflow: hidden;
  display: inline-block;
  a {
    float: left;
    padding: 5px 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.boards {
    overflow: auto; 
  a {
    display: block;
    padding: 10px 10px;
    color: gray;
    &:first-child {
      padding-left: 0;
      border-left: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
    
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }
 
/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* comments */

.comments {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}


/* storyboards */

.storyboard-container {
    height: 300px !important;
    overflow: scroll;
    float: left;
    margin: 0px 0px;
    padding: 5px 20px 5px 0px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    
    section {
        //position: absolute;
        padding: 3px 0px 5px 5px;
        margin: 2px 1px 5px 1px;
        font-size: 12px;
        font-weight: bold;
        background-color: $grayMediumLight;
        border: 1px solid $grayLighter;
        color: gray;
        -webkit-border-radius: 4px 0 4px 0;
           -moz-border-radius: 4px 0 4px 0;
                border-radius: 4px 0 4px 0;
              
    }
    ul {
    float: left;
    list-style: none;
    li {
      float: left;
      margin: 200px 50px 10px 50px;
    }
  }
}

.storyboard-seperator {
    margin: 15px 0px 15px 0px;
}

/* Stories */

.thumbnail {
  width: 220px !important;
  height: 250px !important;
}

#stories-page {
  min-width: 960px;


#stories-left {
  //display: inline;
  float: left;
  margin: 0px 20px 0px 20px;
  width: 15% !important;
}

#stories-center {
  float: right;
  display: inline-block;
  width: 80% !important;
}
}

#stories-show{
    background: white;
    height: 90% !important;
  //  width: 695px !important;
    overflow-y: scroll;
   // float: left;
    margin: 20px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
    border: 1px solid $grayLighter;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
   ul {
    margin: 20px 0px 0px 0px;
    list-style: none;
    li {
      margin: 10px 10px 10px 10px;
      float: left;
    }
  }
    .board-heading {
      width: 100%;
      display: inline-block;
      position: relative;
      height: 40px;
      .brand {
        position: absolute;
        left: 5px;
        top: 5px;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
      }
      .navbar-inner {
        
        .navbar-form, .input-append, .btn {margin-top:0;}
        
        ul {
         margin: 0px 0px 0px 0px;
         padding: 0px 0px 0px 0px;
          li {
           margin: 0px 0px 0px 0px;
           padding: 0px 0px 0px 0px  
        }
       } 
      }
  }
}

#story-publishers {
  
  ul {
    display: inline;
    list-style: none;
  li {
    margin: 30px 0px 30px 0px;
    padding: 5px 0px 0px 0px;
    border-top: 1px solid $grayLighter;
    }
  }

}


#genre-tags {   
    //display: inline-block;
    text-align: center;
    padding: 5px 20px 5px 0px;
    
    ul {
    list-style: none;
    li {
      display: inline-block;
      margin: 10px 20px 10px 20px;
    }
  }
}

#title {
  margin: 40px 0px 0px 0px;
  p {
    line-height: 1;
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }
}



#blurb {
  border: 1px solid $grayMediumLight;
  margin: 5px 0px 40px 0px;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  
  p {
    line-height: 1.7;
    font-size: 1.3em;
    letter-spacing: 0.7px;
    margin: 10px 5px 15px 5px;
    text-align: center;
  }
}

#story-content {
  
  margin: 20px 0px 0px 0px;
  border-top: 1px solid $grayLighter;
  padding: 0px 0px 20px 0px;
  border-bottom: 1px solid $grayLighter;
  
  p {
    line-height: 1.7;
    text-align: left;
    font-size: 1.1em;
    letter-spacing: 0.3px;
    margin: 25px 0px 25px 0px;
  }
}

#story-preview {
  margin: 20px 0px 0px 0px;
  border-top: 1px solid $grayLighter;
  padding: 0px 0px 20px 0px;
  
  p {
    line-height: 1.7;
    text-align: left;
    font-size: 1.1em;
    letter-spacing: 0.3px;
    padding: 0px 0px 0px 0px;
    margin: 25px 0px 5px 0px;
    border-bottom: none;
  }
}

#view-story {
  text-align: center;
  #view-story-form {
    margin: 0px 0px 20px 0px;
  }
}

#review-forms {
  margin: 25px 0px 30px 0px;
  border-bottom: 1px solid $grayLighter;
}

#comment-holder {
  margin: 40px 0px 15px 0px;
    textarea {
    height: 75px;
    margin-bottom: 5px;
  }
}

/* Browse pages */

#publish {
  margin: 20px 0px 10px 0px;
}

#user-info {
  p {
    line-height: 1;
    font-size: 1.6em;
    letter-spacing: -2px;
    margin-bottom: 10px;
    }
  
  
}

#home-publishers {
  ul {
    display: inline;
    list-style: none;
  li {
    margin: 30px 0px 30px 0px;
    padding: 5px 0px 0px 0px;
    border-top: 1px solid $grayLighter;
    }
  }

}

#home-page {
  min-width: 960px;


#home-left {
  //display: inline;
  float: left;
  margin: 0px 20px 0px 20px;
  width: 15% !important;
}

#home-center {
  float: right;
  display: inline-block;
  width: 80% !important;
}
}


#new-and-popular {
  
  background: white;
  
  margin: 20px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
  border: 1px solid $grayLighter;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

  .collapse.in {
    height: 300px;
  }
  
  .new-stories-collapse {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    
    

  }

    
    ul.new-stories {
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    
    li {
      
      
    }
  }
    .board-heading {
    width: 100%;
    display: inline-block;
    position: relative;
    height: 40px;
    .brand {
      position: absolute;
      left: 5px;
      top: 5px;
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
    }
    .navbar-inner {
      ul {
       margin: 0px 0px 0px 0px;
       padding: 0px 0px 0px 0px;
        li {
         margin: 0px 0px 0px 0px;
         padding: 0px 0px 0px 0px  
      }
     } 
    }
  }
}

#genre-boards {

  ul {
    list-style: none;
    margin: 0px 0px 0px 0px;
    li {
      
    }
  }
  

.genre {

  background: white;
  
  .collapse.in {
    height: 300px;
  }
  
  .collapse {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
  }


    margin: 20px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
    border: 1px solid $grayLighter;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
   ul.stories {
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    li {
      
    }
  }
    .board-heading {
      width: 100%;
      display: inline-block;
      position: relative;
      height: 40px;
      .brand {
        position: absolute;
        left: 5px;
        top: 5px;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
      }
      .navbar-inner {
        ul {
         margin: 0px 0px 0px 0px;
         padding: 0px 0px 0px 0px;
          li {
           margin: 0px 0px 0px 0px;
           padding: 0px 0px 0px 0px  
        }
       } 
      }
  }
}
}

/* Genre page */

#genre-page {
  min-width: 960px;


#genre-left {
  //display: inline;
  float: left;
  margin: 0px 20px 0px 20px;
  width: 15% !important;
}

#genre-center {
  float: right;
  display: inline-block;
  width: 80% !important;
}
}

#genre-show{
  
  background: white;
  
    height: 90% !important;
  //  width: 695px !important;
    overflow-y: scroll;
   // float: left;
    margin: 20px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
    border: 1px solid $grayLighter;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
   ul {
    margin: 20px 0px 0px 0px;
    list-style: none;
    li {
      margin: 10px 10px 10px 10px;
      float: left;
    }
  }
    .board-heading {
      width: 100%;
      display: inline-block;
      position: relative;
      height: 40px;
      .brand {
        position: absolute;
        left: 5px;
        top: 5px;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
      }
      .navbar-inner {
        
        .navbar-form, .input-append, .btn {margin-top:0;}
        
        ul {
         margin: 0px 0px 0px 0px;
         padding: 0px 0px 0px 0px;
          li {
           margin: 0px 0px 0px 0px;
           padding: 0px 0px 0px 0px  
        }
       } 
      }
  }
}

#genre-publishers {
  ul {
    display: inline;
    list-style: none;
  li {
    margin: 30px 0px 30px 0px;
    padding: 5px 0px 0px 0px;
    border-top: 1px solid $grayLighter;
    }
  }

}

#recommended-tag {
  margin: 20px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  h6 {
    line-height: 1;
    font-size: 1em;
    margin: 0px 0px 0px 0px;
  }
}

#recommended-stories {
  ul {
    display: inline;
    list-style: none;
  li {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    }
  }

}

.story-main-content {
  //height: 250px !important;
  //width: 200px !important;
  //margin: 5px 0px 0px 0px;
  //overflow: hidden;
  
  .story-content-wrapper {
    
    .story-item-title{
      //border: 1px solid;
      //padding: 0px 5px 5px 0px;
      
      h4 {
        line-height: 1;
        font-size: 1.0em;
        margin: 0px 0px 0px 0px;
      }
    }
  
    .story-item-thumb {
      height: 100px;
     // width: 200px;
      //border: 1px solid;
      position: relative;
      overflow: hidden;
      a {
        .icon-book {
          height: 14px !important;
          width: 14px !important;
          
        }
        
        .word-count{
          padding: 1px 3px 1px 3px;
          color: $grayLighter;
          font-size: 0.8em;
          background-color: $grayDark;
          position: absolute;
          bottom: 1px;
          right: 3px;
        }
        
        .read-later {
          padding: 1px 3px 1px 3px;
          position: absolute;
          top: 1px;
          right: 3px;
        }
      }             

    }
    
    .story-item-description {
      
      
      .stats {
        font-weight: normal;
        font-size: 0.9em;
        color: $gray;
        margin: 0px 0px 0px 0px;
      }
      .blurb {
        font-weight: normal;
        font-size: 0.9em;
        color: $grayMedium;
        overflow-y: auto;
        margin: 0px 0px 0px 0px;
      }
    }
    
  } //story-content-wrapper
  
  
  
       
} //.story-main-content

/* Users */

.user-page {
  
  .user-left {
    float: left;
    width: 40%;
    margin: 0px 0px 0px 10px;
  }
  
  .user-center {
    float: left;
    display: inline-block;
    width: 100% !important;
    margin: 20px 10px 20px 10px;
}   
}

#board-show{
   background: white;
    height: 90% !important;
  //  width: 695px !important;
    overflow-y: scroll;
   // float: left;
    margin: 20px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
    border: 1px solid $grayLighter;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
   ul {
    margin: 20px 0px 0px 0px;
    list-style: none;
    li {
      margin: 10px 10px 10px 10px;
      float: left;
    }
  }
    .board-heading {
      width: 100%;
      display: inline-block;
      position: relative;
      height: 40px;
      .brand {
        position: absolute;
        left: 5px;
        top: 5px;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
      }
      .navbar-inner {
        
        .navbar-form, .input-append, .btn {margin-top:0;}
        
        ul {
         margin: 0px 0px 0px 0px;
         padding: 0px 0px 0px 0px;
          li {
           margin: 0px 0px 0px 0px;
           padding: 0px 0px 0px 0px  
        }
       } 
      }
  }
}